<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="org.dice.ui.preferences"
            class="es.unizar.disco.core.ui.preferences.DummyPreferencePage"
            id="es.unizar.disco.core.ui.preferences"
            name="Simulation Tools">
      </page>
   </extension>

</plugin>
