<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="es.unizar.disco.simulation.ui.launcher.SimulationLaunchConfigurationTabGroup"
            description="Launches a Simulation"
            id="es.unizar.disco.simulation.ui.launchConfigurationTabGroup"
            type="es.unizar.disco.simulation.ui.launchConfigurationType">
         <launchMode
               mode="run"
               perspective="es.unizar.disco.simulation.ui.perspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="es.unizar.disco.simulation.ui.launchConfigurationType"
            icon="icons/full/obj16/clock_running.png"
            id="es.unizar.disco.simulation.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="es.unizar.disco.simulation.ui.launcher.SimulationLaunchShortcut"
            icon="icons/full/obj16/clock_running.png"
            id="es.unizar.disco.simulation.ui.shortcut"
            label="DICE &amp;Simulation"
            modes="run">
            <contextualLaunch>
         <enablement>
           <with variable="selection">
             <count value="1"/>
              <iterate>
               <or>
                  <adapt
                        type="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement">
                  </adapt>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="notation">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="di">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="uml">
                        </test></or></and>
               </or>
              </iterate>
             </with>
         </enablement>
 		</contextualLaunch>
       <configurationType
              id="es.unizar.disco.simulation.ui.launchConfigurationType">
       </configurationType>
       <description
              description="Launches a simulation job on the specified UML model"
              mode="run">
       </description>
            
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement"
            class="es.unizar.disco.simulation.ui.adapters.LaunchableDummyAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="es.unizar.disco.simulation.ui.adapters.UmlModelAdapterFactory">
         <adapter
               type="org.eclipse.papyrus.uml.tools.model.UmlModel">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement"
            class="es.unizar.disco.simulation.ui.adapters.UmlModelAdapterFactory">
         <adapter
               type="org.eclipse.papyrus.uml.tools.model.UmlModel">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="es.unizar.disco.simulation.ui.tester.PapyrusElementExtensionTester"
            id="es.unizar.disco.simulation.ui.tester.extension"
            namespace="org.eclipse.core.resources"
            properties="extension"
            type="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement">
      </propertyTester>
      <propertyTester
            class="es.unizar.disco.simulation.ui.tester.InvocationHasResultTester"
            id="es.unizar.disco.simulation.ui.tester.hasResult"
            namespace="es.unizar.disco.simulation.ui.tester"
            properties="hasResult"
            type="es.unizar.disco.simulation.models.invocation.SimulationInvocation">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="es.unizar.disco.simulation.ui.handlers.LaunchSimulationHandler"
            commandId="es.unizar.disco.simulation.ui.commands.launchSimulation">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.papyrus.infra.core.papyrusEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.OpenRegistryDirectoryHandler"
            commandId="es.unizar.disco.simulation.ui.commands.openRegistryDirectory">
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.NewViewHandler"
            commandId="es.unizar.disco.simulation.ui.commands.newInvocationsRegistryView">
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.ClearRegistryHandler"
            commandId="es.unizar.disco.simulation.ui.commands.clearRegistry">
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.SaveRegistryHandler"
            commandId="es.unizar.disco.simulation.ui.commands.saveRegistry">
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.LinkFolderAsProjectHandler"
            commandId="es.unizar.disco.simulation.ui.commands.linkFolderAsProject">
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.ShowViewOnChangeHandler"
            commandId="es.unizar.disco.simulation.ui.commands.showViewOnChange">
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.RefreshViewHandler"
            commandId="es.unizar.disco.simulation.ui.commands.refreshView">
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.InspectSimulationDataHandler"
            commandId="es.unizar.disco.simulation.ui.commands.inspectSimluationData">
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.ExportVariablesHandler"
            commandId="es.unizar.disco.simulation.ui.commands.exportVariables">
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.OpenSimulationResultHandler"
            commandId="es.unizar.disco.simulation.ui.commands.openSimulationResult">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="es.unizar.disco.simulation.ui.tester.hasResult">
                     </test>
                     <instanceof
                           value="es.unizar.disco.simulation.models.invocation.SimulationInvocation">
                     </instanceof>
                  </and>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="es.unizar.disco.simulation.ui.views.PlotInvocationSetResultHandler"
            commandId="es.unizar.disco.simulation.ui.commands.openPlotWizard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.dice.menu.tools">
         <menu
               id="es.unizar.disco.simulation.ui.menus.diceSimulationMenu"
               label="Simulation Tools"
               mnemonic="D">
            <command
                  commandId="es.unizar.disco.simulation.ui.commands.launchSimulation"
                  icon="icons/full/obj16/clock_running.png"
                  id="es.unizar.disco.simulation.ui.menus.launchSimulationCommand"
                  mnemonic="S">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="es.unizar.disco.simulation.ui.toolbars.diceSimulationToolbar"
               label="DICE Simulation">
            <command
                  commandId="es.unizar.disco.simulation.ui.commands.launchSimulation"
                  icon="icons/full/obj16/clock_running.png"
                  id="es.unizar.disco.simulation.ui.toolbars.launchSimulationCommand"
                  tooltip="Launches a new DICE Simulation">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
 <menuContribution
            allPopups="false"
            locationURI="toolbar:es.unizar.disco.simulation.ui.views.InvocationsView?after=additions">
         <command
               commandId="es.unizar.disco.simulation.ui.commands.clearRegistry"
               icon="IMG_ELCL_REMOVEALL"
               label="Delete Registry"
               style="push"
               tooltip="Deletes all de entries and files currently shown in this registry">
         </command>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.openRegistryDirectory"
               icon="icons/full/etool16/go_to_folder.png"
               label="Open Registry Directory"
               style="push"
               tooltip="Open the folder containing the registry files in using the system&apos;s file browser">
         </command>
         <separator
               name="es.unizar.disco.simulation.ui.views.toolbar.separator1"
               visible="true">
         </separator>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.showViewOnChange"
               icon="icons/full/etool16/make_visible.gif"
               label="Show View on Change"
               style="toggle"
               tooltip="Show view when contents change">
         </command>
         <separator
               name="es.unizar.disco.simulation.ui.views.toolbar.separator2"
               visible="true">
         </separator>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.newInvocationsRegistryView"
               icon="IMG_TOOL_NEW_WIZARD"
               label="New Invocations Registry View"
               style="push"
               tooltip="Opens a new instance of this view">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:es.unizar.disco.simulation.ui.views.InvocationsView?after=additions">
         <command
               commandId="es.unizar.disco.simulation.ui.commands.clearRegistry"
               icon="IMG_ELCL_REMOVEALL"
               label="Delete Registry"
               style="push"
               tooltip="Deletes all de entries and files currently shown in this registry">
         </command>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.saveRegistry"
               icon="IMG_ETOOL_SAVE_EDIT"
               label="Save Registry"
               style="push"
               tooltip="Writes the changes in the registry on disk">
         </command>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.openRegistryDirectory"
               icon="icons/full/etool16/go_to_folder.png"
               label="Open Registry Directory"
               style="push"
               tooltip="Open the folder containing the registry files in using the system&apos;s file browser">
         </command>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.linkFolderAsProject"
               icon="icons/full/obj16/project.png"
               label="Link Registry in New Project..."
               style="push"
               tooltip="Creates a Project with its contents linked to the registry contents">
         </command>
         <separator
               name="es.unizar.disco.simulation.ui.views.pulldown.separator1"
               visible="true">
         </separator>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.refreshView"
               icon="icons/full/etool16/refresh.png"
               label="Refresh Viewer"
               style="push"
               tooltip="Forces a refresh of the viewer&apos;s contents">
         </command>
         <separator
               name="es.unizar.disco.simulation.ui.views.pulldown.separator2"
               visible="true">
         </separator>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.newInvocationsRegistryView"
               icon="IMG_TOOL_NEW_WIZARD"
               label="New Invocations Registry View"
               style="push"
               tooltip="Opens a new instance of this view">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:es.unizar.disco.simulation.ui.views.InvocationsView?after=additions">
         <command
               commandId="es.unizar.disco.simulation.ui.commands.openSimulationResult"
               icon="icons/full/obj16/simulation_result.png"
               label="Open Simulation Result"
               style="push"
               tooltip="Opens the Simulation result in the Ecore Reflective editor">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="es.unizar.disco.simulation.models.invocation.SimulationInvocation">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.inspectSimluationData"
               icon="icons/full/obj16/simulation_invocation.png"
               label="Inspect Simulation Invocation Data"
               style="push"
               tooltip="Opens the Simulation invocation in the Ecore Reflective editor">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="es.unizar.disco.simulation.models.invocation.SimulationInvocation">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="es.unizar.disco.simulation.ui.views.popup.separator1"
               visible="true">
         </separator>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.exportVariables"
               icon="IMG_ETOOL_SAVEAS_EDIT"
               label="Export Invocation Variables..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="es.unizar.disco.simulation.models.invocation.SimulationInvocation">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="es.unizar.disco.simulation.ui.commands.openPlotWizard"
               icon="icons/full/obj16/chart.png"
               label="Plot Results..."
               style="push"
               tooltip="Export the results and/or plot them">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="es.unizar.disco.simulation.models.invocation.InvocationSet">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="es.unizar.disco.simulation.ui.diceSimulationCategory"
            description="Launches a new DICE Simulation"
            id="es.unizar.disco.simulation.ui.commands.launchSimulation"
            name="Launch DICE Simulation">
      </command>
      <category
            id="es.unizar.disco.simulation.ui.diceSimulationCategory"
            name="DICE Simulation">
      </category>
      <command
            description="Open the folder containing the registry files in using the system&apos;s file browser"
            id="es.unizar.disco.simulation.ui.commands.openRegistryDirectory"
            name="Open Registry Directory">
      </command>
      <command
            description="Opens a new instance of the Invocations Registry"
            id="es.unizar.disco.simulation.ui.commands.newInvocationsRegistryView"
            name="New Invocations Registry View">
      </command>
      <command
            description="Clears the Invocations Registry"
            id="es.unizar.disco.simulation.ui.commands.clearRegistry"
            name="Clear Registry">
      </command>
      <command
            description="Save Registry contents on disk"
            id="es.unizar.disco.simulation.ui.commands.saveRegistry"
            name="Save Registry">
      </command>
      <command
            description="Creates a Project with its contents linked to the registry contents"
            id="es.unizar.disco.simulation.ui.commands.linkFolderAsProject"
            name="Link Registry in New Project">
      </command>
      <command
            description="Show view when contents change"
            id="es.unizar.disco.simulation.ui.commands.showViewOnChange"
            name="Show View on Change">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            description="Forces a refresh of the viewer&apos;s contents"
            id="es.unizar.disco.simulation.ui.commands.refreshView"
            name="Refresh Viewer">
      </command>
      <command
            description="Opens the Simulation invocation in the Ecore Reflective editor"
            id="es.unizar.disco.simulation.ui.commands.inspectSimluationData"
            name="Inspect Simulation Invocation Data">
      </command>
      <command
            description="Exports the Simulation Invocation Variables to an XMI file"
            id="es.unizar.disco.simulation.ui.commands.exportVariables"
            name="Export Invocation Variables">
      </command>
      <command
            description="Opens the Simulation result in the Ecore Reflective editor"
            id="es.unizar.disco.simulation.ui.commands.openSimulationResult"
            name="Open Simulation Result">
      </command>
      <command
            description="Plot the InvocationSet results"
            id="es.unizar.disco.simulation.ui.commands.openPlotWizard"
            name="Plot Results">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="es.unizar.disco.core.ui.preferences"
            class="es.unizar.disco.simulation.ui.preferences.SimulationUiPreferencePage"
            id="es.unizar.disco.simulation.ui.preferences.SimulationUiPreferencePage"
            name="Simulation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="es.unizar.disco.simulation.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="es.unizar.disco.simulation.ui.views"
            name="DICE Simulation">
      </category>
      <view
            allowMultiple="true"
            category="es.unizar.disco.simulation.ui.views"
            class="es.unizar.disco.simulation.ui.views.InvocationsView"
            icon="icons/full/eview16/simulation_registry.png"
            id="es.unizar.disco.simulation.ui.views.InvocationsView"
            name="Invocations Registry">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="es.unizar.disco.simulation.ui.editors.RootedReadOnlyEcoreEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor"
            default="false"
            icon="icons/full/obj16/simulation_result.png"
            id="es.unizar.disco.simulation.ui.editors.readonlyEcoreEditor"
            name="Rooted Read Only Ecore Editor">
      </editor>
      <editor
            class="es.unizar.disco.simulation.ui.editors.PlotEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="plot"
            icon="icons/full/obj16/chart.png"
            id="es.unizar.disco.simulation.ui.editors.PlotEditor"
            name="Plot Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="es.unizar.disco.simulation.ui.perspective.SimulationPerspective"
            icon="icons/full/obj16/perspective.png"
            id="es.unizar.disco.simulation.ui.perspective"
            name="DICE Simulation">
         <description>
            The DICE SImulation perspectice allows tracking the status of the running simulations more efficiently.
         </description>
      </perspective>
   </extension>

</plugin>
