<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="PnmlDiceUtils"
            namespace="es.unizar.disco.pnml.utils">
         <library
               class="es.unizar.disco.pnml.m2m.utils.DatatypeUtils"
               name="DatatypeUtils">
            <metamodel
                  nsURI="http:///ptnet.ecore">
            </metamodel>
         </library>
         <library
               class="es.unizar.disco.pnml.m2m.utils.IdentifierUtils"
               name="IdentifierUtils">
         </library>
         <library
               class="es.unizar.disco.pnml.m2m.utils.UnitUtils"
               name="UnitUtils">
         </library>
         <library
               class="es.unizar.disco.pnml.m2m.utils.MathUtils"
               name="MathUtils">
            <metamodel
                  nsURI="http://es.unizar.disco/simulation/datatypes/1.0">
            </metamodel>
         </library>
         <library
               class="es.unizar.disco.pnml.m2m.utils.ConstantUtils"
               name="ConstantUtils">
         </library>
      </unit>
   </extension>
   <extension
         point="es.unizar.disco.simulation.models.supported_scenarios">
      <Scenario
            stereotypeName="MARTE::MARTE_AnalysisModel::GQAM::GaScenario">
      </Scenario>
      <Scenario
            stereotypeName="DICE::DICE_UML_Extensions::DPIM::DpimScenario">
      </Scenario>
      <Scenario
            stereotypeName="DICE::DICE_UML_Extensions::DTSM::Storm::StormScenarioTopology">
      </Scenario>
      <Scenario
            stereotypeName="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario">
      </Scenario>
   </extension>
   <extension
         point="es.unizar.disco.simulation.models.analyzable_resource_builder">
      <AnalyzableResourceBuilder
            analyzableProperty="PERFORMANCE"
            builder="es.unizar.disco.pnml.m2m.builder.ActivityDiagram2PnmlResourceBuilder"
            metaclass="org.eclipse.uml2.uml.Activity"
            priority="4"
            scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario">
      </AnalyzableResourceBuilder>
      <AnalyzableResourceBuilder
            analyzableProperty="PERFORMANCE"
            builder="es.unizar.disco.pnml.m2m.builder.ActivityDiagram2PnmlResourceBuilder"
            metaclass="org.eclipse.uml2.uml.Activity"
            priority="4"
            scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario">
      </AnalyzableResourceBuilder>
      <AnalyzableResourceBuilder
            analyzableProperty="PERFORMANCE"
            builder="es.unizar.disco.pnml.m2m.builder.SequenceDiagram2PnmlResourceBuilder"
            metaclass="org.eclipse.uml2.uml.Interaction"
            priority="4"
            scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario">
      </AnalyzableResourceBuilder>
      <AnalyzableResourceBuilder
            analyzableProperty="PERFORMANCE"
            builder="es.unizar.disco.pnml.m2m.builder.SequenceDiagram2PnmlResourceBuilder"
            metaclass="org.eclipse.uml2.uml.Interaction"
            priority="4"
            scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario">
      </AnalyzableResourceBuilder>
      <AnalyzableResourceBuilder
            analyzableProperty="RELIABILITY"
            builder="es.unizar.disco.pnml.m2m.builder.ActivityDiagram2PnmlReliabilityResourceBuilder"
            metaclass="org.eclipse.uml2.uml.Activity"
            priority="4"
            scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario">
      </AnalyzableResourceBuilder>
      <AnalyzableResourceBuilder
            analyzableProperty="RELIABILITY"
            builder="es.unizar.disco.pnml.m2m.builder.ActivityDiagram2PnmlReliabilityResourceBuilder"
            metaclass="org.eclipse.uml2.uml.Activity" 
            priority="4"
            scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario">
      </AnalyzableResourceBuilder>
      <AnalyzableResourceBuilder
            analyzableProperty="PERFORMANCE"
            builder="es.unizar.disco.pnml.m2m.builder.StormActivityDiagram2PnmlResourceBuilder"
            metaclass="org.eclipse.uml2.uml.Activity"
            priority="4"
            scenario="DICE::DICE_UML_Extensions::DTSM::Storm::StormScenarioTopology">
      </AnalyzableResourceBuilder>
      <AnalyzableResourceBuilder
            analyzableProperty="PERFORMANCE"
            builder="es.unizar.disco.pnml.m2m.builder.StormActivityDiagram2PnmlResourceBuilder"
            metaclass="org.eclipse.uml2.uml.Activity"
            priority="4"
            scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario">
      </AnalyzableResourceBuilder>
      <AnalyzableResourceBuilder
            analyzableProperty="PERFORMANCE"
            builder="es.unizar.disco.pnml.m2m.builder.HadoopActivityDiagram2PnmlResourceBuilder"
            metaclass="org.eclipse.uml2.uml.Activity"
            priority="4"
            scenario="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario">
      </AnalyzableResourceBuilder>
      <AnalyzableResourceBuilder
            analyzableProperty="PERFORMANCE"
            builder="es.unizar.disco.pnml.m2m.builder.HadoopActivityDiagram2PnmlResourceBuilder"
            metaclass="org.eclipse.uml2.uml.Activity"
            priority="4"
            scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario">
      </AnalyzableResourceBuilder>
   </extension>
</plugin>
