<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2020 DisCo Group - Universidad de Zaragoza.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 1.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-1.0/
   
    SPDX-License-Identifier: EPL-1.0
   
    Contributors:
        Abel Gómez
        Ignacio Requeno
        Diego Pérez
 -->

<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="es.unizar.disco.simulation.quickstart"
            name="DICE Simulation">
      </category>
      <wizard
            name="New DICE Simulation Example Project"
            icon="icons/full/obj16/clock.png"
            category="es.unizar.disco.simulation.quickstart"
            class="es.unizar.disco.simulation.quickstart.wizards.ImportExampleProjectWizard"
            id="es.unizar.disco.simulation.quickstart.wizards.ExampleProjectWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/overview.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.quicklinks">
      <command
            description="Create a new project with the example files to test the DICE Simulation Tool"
            icon="icons/full/obj16/wizard52_orange.png"
            id="es.unizar.disco.simulation.quickstart.openSimulationWizard"
            label="DICE Simulation Examples">
      </command>
      <command
            description="Configure the SSH connection to a GreatSPN installation. Required to use the DICE Simulation Tools"
            icon="icons/full/obj16/prefs52_orange.png"
            id="es.unizar.disco.simulation.quickstart.configureSshConnection"
            label="Configure GreatSPN SSH Connection">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="es.unizar.disco.simulation.quickstart.configureSshConnection"
            name="Configure GreatSPN SSH Connection">
      </command>
      <command
            id="es.unizar.disco.simulation.quickstart.openSimulationWizard"
            name="DICE Simulation Examples">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="es.unizar.disco.simulation.quickstart.handlers.OpenPreferencesHandler"
            commandId="es.unizar.disco.simulation.quickstart.configureSshConnection">
      </handler>
      <handler
            class="es.unizar.disco.simulation.quickstart.handlers.OpenWizardHandler"
            commandId="es.unizar.disco.simulation.quickstart.openSimulationWizard">
      </handler>
   </extension>

</plugin>
