<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="DICE Simulation Tools SDK Target Platform" sequenceNumber="21">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.papyrus.extra.marte.properties.feature.feature.group" version="1.1.3.201511250947"/>
<unit id="org.eclipse.papyrus.extra.marte.textedit.feature.source.feature.group" version="1.1.3.201511250947"/>
<unit id="org.eclipse.papyrus.extra.marte.properties.feature.source.feature.group" version="1.1.3.201511250947"/>
<unit id="org.eclipse.papyrus.extra.marte.feature.feature.group" version="1.1.3.201511250947"/>
<unit id="org.eclipse.papyrus.extra.marte.textedit.feature.feature.group" version="1.1.3.201511250947"/>
<unit id="org.eclipse.papyrus.extra.marte.feature.source.feature.group" version="1.1.3.201511250947"/>
<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="1.1.3.201511250900"/>
<unit id="org.eclipse.papyrus.sdk.feature.source.feature.group" version="1.1.3.201511250900"/>
<repository location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/mars"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="fr.lip6.pnml.framework.sdk.feature.group" version="2.2.9"/>
<repository location="http://pnml.lip6.fr/pnmlframework/updatesite/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.acceleo.source.feature.group" version="3.6.1.201509091420"/>
<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.5.0.v20150603-1058"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.1.1.v20150906-1225"/>
<unit id="org.eclipse.ocl.core.sdk.feature.group" version="5.1.0.v20150525-1635"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.1.v20150806-0404"/>
<unit id="org.eclipse.platform.sdk" version="4.5.1.M20150904-0015"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
</target>
