<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="es.unizar.disco.simulation.simulators">
      <Simulator
            id="es.unizar.disco.simulation.greatspn.ssh.gspnSshSimulator"
            name="GreatSPN SSH Simulator"
            simulator="es.unizar.disco.simulation.greatspn.ssh.simulator.GspnSshSimulator">
      </Simulator>
   </extension>
   <extension
         point="es.unizar.disco.simulation.models.supported_metrics">
      <MetricTag
            familyNFPproperty="PERFORMANCE"
            id="respT">
      </MetricTag>
      <MetricTag
            familyNFPproperty="PERFORMANCE"
            id="utilization">
      </MetricTag>
      <MetricTag
            familyNFPproperty="PERFORMANCE"
            id="throughput">
      </MetricTag>
      <MetricTag
            familyNFPproperty="RELIABILITY"
            id="reliability">
      </MetricTag>
      <Metric
            name="DICE::DICE_UML_Extensions::DPIM::DpimScenario#respT"
            stereotype="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
            tag="respT">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ActivityResponseTimeCalculator"
               scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ActivityResponseTimeCalculator"
               scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DPIM::DpimScenario#throughput"
            stereotype="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
            tag="throughput">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculator"
               scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculator"
               scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaScenario#respT"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
            tag="respT">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ActivityResponseTimeCalculator"
               scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ActivityResponseTimeCalculator"
               scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaScenario#throughput"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
            tag="throughput">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculator"
               scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculator"
               scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario#throughput"
            stereotype="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario"
            tag="throughput">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculatorHadoop"
               scenario="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario#respT"
            stereotype="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario"
            tag="respT">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ActivityResponseTimeCalculatorHadoop"
               scenario="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario#utilization"
            stereotype="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario"
            tag="utilization">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculatorHadoop"
               scenario="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaStep#respT"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaStep"
            tag="respT">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ActionResponseTimeCalculator"
               scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ActionResponseTimeCalculator"
               scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaStep#throughput"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaStep"
            tag="throughput">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculator"
               scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculator"
               scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::PAM::PaLogicalResource#utilization"
            stereotype="MARTE::MARTE_AnalysisModel::PAM::PaLogicalResource"
            tag="utilization">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
               scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
               scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.TotalUtilizationCalculatorHadoop"
               scenario="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaExecHost#utilization"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaExecHost"
            tag="utilization">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
               scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
               scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
               scenario="DICE::DICE_UML_Extensions::DTSM::Storm::StormScenarioTopology"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.TotalUtilizationCalculatorHadoop"
               scenario="DICE::DICE_UML_Extensions::DTSM::Hadoop::HadoopScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaCommHost#utilization"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaCommHost"
            tag="utilization">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
               scenario="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
               scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DPIM::DpimScenario#reliability"
            stereotype="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
            tag="reliability">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ScenarioReliabilityCalculator"
               scenario="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DTSM::Storm::StormBolt#throughput"
            stereotype="DICE::DICE_UML_Extensions::DTSM::Storm::StormBolt"
            tag="throughput">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculatorBolt"
               scenario="DICE::DICE_UML_Extensions::DTSM::Storm::StormScenarioTopology"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DTSM::Storm::StormBolt#respT"
            stereotype="DICE::DICE_UML_Extensions::DTSM::Storm::StormBolt"
            tag="respT">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ActionResponseTimeCalculatorBolt"
               scenario="DICE::DICE_UML_Extensions::DTSM::Storm::StormScenarioTopology"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DTSM::Storm::StormBolt#utilization"
            stereotype="DICE::DICE_UML_Extensions::DTSM::Storm::StormBolt"
            tag="utilization">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculatorBolt"
               scenario="DICE::DICE_UML_Extensions::DTSM::Storm::StormScenarioTopology"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DTSM::Storm::StormSpout#throughput"
            stereotype="DICE::DICE_UML_Extensions::DTSM::Storm::StormSpout"
            tag="throughput">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculator"
               scenario="DICE::DICE_UML_Extensions::DTSM::Storm::StormScenarioTopology"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DTSM::Storm::StormSpout#respT"
            stereotype="DICE::DICE_UML_Extensions::DTSM::Storm::StormSpout"
            tag="respT">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.ActionResponseTimeCalculator"
               scenario="DICE::DICE_UML_Extensions::DTSM::Storm::StormScenarioTopology"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DTSM::Storm::StormSpout#utilization"
            stereotype="DICE::DICE_UML_Extensions::DTSM::Storm::StormSpout"
            tag="utilization">
         <Calculator
               class="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
               scenario="DICE::DICE_UML_Extensions::DTSM::Storm::StormScenarioTopology"
               toolResult="es.unizar.disco.simulation.models.wnsim.WnsimResult">
         </Calculator>
      </Metric>
   </extension>
</plugin>
