<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="DICE Simulation Tools SDK Target Platform" sequenceNumber="32">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://archive.eclipse.org/modeling/mdt/papyrus/updates/releases/neon/2.0.3/extra/"/>
		<unit id="org.eclipse.papyrus.extra.marte.feature.feature.group" version="1.2.0.201703081153"/>
		<unit id="org.eclipse.papyrus.extra.marte.feature.source.feature.group" version="1.2.0.201703081153"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://lip6.github.io/pnmlframework/"/>
		<unit id="fr.lip6.pnml.framework.3rdPart.feature.feature.group" version="2.2.16"/>
		<unit id="fr.lip6.pnml.framework.coremodel.feature.source.feature.group" version="2.2.16"/>
		<unit id="fr.lip6.pnml.framework.hlpn.feature.source.feature.group" version="2.2.16"/>
		<unit id="fr.lip6.pnml.framework.pthlpng.feature.source.feature.group" version="2.2.16"/>
		<unit id="fr.lip6.pnml.framework.ptnet.feature.source.feature.group" version="2.2.16"/>
		<unit id="fr.lip6.pnml.framework.sdk.feature.group" version="2.2.16"/>
		<unit id="fr.lip6.pnml.framework.symmetricnet.feature.source.feature.group" version="2.2.16"/>
		<unit id="fr.lip6.pnml.framework.utils.feature.feature.group" version="2.2.16"/>
		<unit id="fr.lip6.pnml.framework.utils.feature.source.feature.group" version="2.2.16"/>
		<unit id="fr.lip6.pnml.nupn.toolinfo.feature.source.feature.group" version="2.2.16"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://dice-project.github.io/DICE-Profiles/updates"/>
		<unit id="com.masdes.dam.profile.feature.feature.group" version="0.13.1.201801221725"/>
		<unit id="com.masdes.dam.profile.ui.feature.feature.group" version="0.13.1.201801221725"/>
		<unit id="es.unizar.disco.dice.profile.feature.feature.group" version="0.13.1.201801221725"/>
		<unit id="ro.ieat.secureuml.profile.feature.feature.group" version="0.13.1.201801221725"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/birt/update-site/4.6/"/>
		<unit id="org.eclipse.birt.chart.feature.group" version="4.6.0.v201606072122"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210825222808/repository"/>
		<unit id="com.google.guava" version="30.1.0.v20210127-2300"/>
		<unit id="com.google.guava.source" version="30.1.0.v20210127-2300"/>
		<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
		<unit id="org.apache.commons.collections.source" version="3.2.2.v201511171945"/>
		<unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
		<unit id="org.apache.commons.io.source" version="2.8.0.v20210415-0900"/>
		<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
		<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
		<unit id="org.junit" version="4.13.0.v20200204-1500"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2021-09"/>
		<unit id="org.eclipse.acceleo.feature.group" version="3.7.11.202102190929"/>
		<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.12.1.v20210218-2134"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.27.0.v20210816-1137"/>
		<unit id="org.eclipse.ocl.examples.feature.group" version="6.16.0.v20210907-2013"/>
		<unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.2.v20210228-1829"/>
		<unit id="org.eclipse.jdt.feature.group" version="3.18.900.v20210906-0500"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/xwt/milestones-1.7.0/1.7.0-S/"/>
		<unit id="org.eclipse.xwt.feature.feature.group" version="1.6.0.202105260718"/>
		<unit id="org.eclipse.xwt.feature.source.feature.group" version="1.6.0.202105260718"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/modeling/mdt/papyrus/updates/releases/2021-09"/>
		<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="5.2.0.202109161249"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/eclipse/updates/4.21"/>
		<unit id="org.eclipse.platform.sdk" version="4.21.0.I20210906-0500"/>
	</location>
</locations>
</target>