<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="DICE Simulation Tools SDK Target Platform" sequenceNumber="32">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://archive.eclipse.org/modeling/mdt/papyrus/updates/releases/neon/2.0.3/extra/"/>
		<unit id="org.eclipse.papyrus.extra.marte.feature.feature.group" version="1.2.0.201703081153"/>
		<unit id="org.eclipse.papyrus.extra.marte.feature.source.feature.group" version="1.2.0.201703081153"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://lip6.github.io/pnmlframework/"/>
		<unit id="fr.lip6.pnml.framework.3rdPart.feature.feature.group" version="2.2.15"/>
		<unit id="fr.lip6.pnml.framework.coremodel.feature.source.feature.group" version="2.2.15"/>
		<unit id="fr.lip6.pnml.framework.hlpn.feature.source.feature.group" version="2.2.15"/>
		<unit id="fr.lip6.pnml.framework.pthlpng.feature.source.feature.group" version="2.2.15"/>
		<unit id="fr.lip6.pnml.framework.ptnet.feature.source.feature.group" version="2.2.15"/>
		<unit id="fr.lip6.pnml.framework.sdk.feature.group" version="2.2.15"/>
		<unit id="fr.lip6.pnml.framework.symmetricnet.feature.source.feature.group" version="2.2.15"/>
		<unit id="fr.lip6.pnml.framework.utils.feature.feature.group" version="2.2.15"/>
		<unit id="fr.lip6.pnml.framework.utils.feature.source.feature.group" version="2.2.15"/>
		<unit id="fr.lip6.pnml.nupn.toolinfo.feature.source.feature.group" version="2.2.15"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://dice-project.github.io/DICE-Profiles/updates"/>
		<unit id="com.masdes.dam.profile.feature.feature.group" version="0.13.1.201801221725"/>
		<unit id="com.masdes.dam.profile.ui.feature.feature.group" version="0.13.1.201801221725"/>
		<unit id="es.unizar.disco.dice.profile.feature.feature.group" version="0.13.1.201801221725"/>
		<unit id="ro.ieat.secureuml.profile.feature.feature.group" version="0.13.1.201801221725"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20201130205003/repository"/>
		<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
		<unit id="com.google.guava.source" version="27.1.0.v20190517-1946"/>
		<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
		<unit id="org.apache.commons.collections.source" version="3.2.2.v201511171945"/>
		<unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
		<unit id="org.apache.commons.io.source" version="2.6.0.v20190123-2029"/>
		<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
		<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/eclipse/updates/4.18"/>
		<unit id="org.eclipse.sdk.ide" version="4.18.0.I20201202-1800"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2020-12"/>
		<unit id="org.eclipse.acceleo.feature.group" version="3.7.10.202002210922"/>
		<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.10.2.v20200609-1812"/>
		<unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.1.v20200302-1312"/>
		<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="5.0.0.202012091059"/>
		<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.12.0.v20201119-2018"/>
		<unit id="org.eclipse.ocl.examples.feature.group" version="6.13.0.v20201208-2229"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/birt/update-site/4.6/"/>
		<unit id="org.eclipse.birt.chart.feature.group" version="4.6.0.v201606072122"/>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>