<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="simulators" name="Simulators" schema="schema/simulators.exsd"/>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="es.unizar.disco.simulation.launcher.SimulationLaunchConfigurationDelegate"
            id="es.unizar.disco.simulation.ui.launchConfigurationType"
            modes="run"
            name="DICE Simulation">
      </launchConfigurationType>
   </extension>
   <extension
         point="es.unizar.disco.simulation.models.supported_metrics">
      <Metric
            name="DICE::DICE_UML_Extensions::DPIM::DpimScenario#respT"
            stereotype="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
            tag="respT">
      </Metric>
      <Metric
            name="DICE::DICE_UML_Extensions::DPIM::DpimScenario#throughput"
            stereotype="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
            tag="throughput">
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaScenario#respT"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
            tag="respT">
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaScenario#throughput"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
            tag="throughput">
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaStep#respT"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaStep"
            tag="respT">
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaStep#throughput"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaStep"
            tag="throughput">
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::PAM::PaLogicalResource#utilization"
            stereotype="MARTE::MARTE_AnalysisModel::PAM::PaLogicalResource"
            tag="utilization">
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaExecHost#utilization"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaExecHost"
            tag="utilization">
      </Metric>
      <Metric
            name="MARTE::MARTE_AnalysisModel::GQAM::GaCommHost#utilization"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaCommHost"
            tag="utilization">
      </Metric>
   </extension>
</plugin>
