<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pnconfig -->
      <package
            uri="http://es.unizar.disco/pnconfig/1.0"
            class="es.unizar.disco.pnconfig.PnconfigPackage"
            genModel="model/pnconfig.genmodel"/>
   </extension>

</plugin>
