<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2020 DisCo Group - Universidad de Zaragoza.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 1.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-1.0/
   
    SPDX-License-Identifier: EPL-1.0
   
    Contributors:
        Abel Gómez
        Ignacio Requeno
        Diego Pérez
 -->

<plugin>
   <extension-point id="simulators" name="Simulators" schema="schema/simulators.exsd"/>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="es.unizar.disco.simulation.launcher.SimulationLaunchConfigurationDelegate"
            id="es.unizar.disco.simulation.ui.launchConfigurationType"
            modes="run"
            name="DICE Simulation">
      </launchConfigurationType>
   </extension>
</plugin>
