<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="es.unizar.disco.simulation.ui.launcher.SimulationLaunchConfigurationTabGroup"
            description="Launches a Simulation"
            id="es.unizar.disco.simulation.ui.launchConfigurationTabGroup"
            type="es.unizar.disco.simulation.ui.launchConfigurationType">
         <launchMode
               mode="run"
               perspective="es.unizar.disco.simulation.ui.perspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="es.unizar.disco.simulation.ui.launchConfigurationType"
            icon="icons/full/obj16/clock.png"
            id="es.unizar.disco.simulation.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="es.unizar.disco.simulation.ui.launcher.SimulationLaunchShortcut"
            icon="icons/full/obj16/clock.png"
            id="es.unizar.disco.simulation.ui.shortcut"
            label="DICE &amp;Simulation"
            modes="run">
            <contextualLaunch>
         <enablement>
           <with variable="selection">
             <count value="1"/>
              <iterate>
               <or>
                  <adapt
                        type="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement">
                  </adapt>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="notation">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="di">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="uml">
                        </test></or></and>
               </or>
              </iterate>
             </with>
         </enablement>
 		</contextualLaunch>
       <configurationType
              id="es.unizar.disco.simulation.ui.launchConfigurationType">
       </configurationType>
       <description
              description="Launches a simulation job on the specified UML model"
              mode="run">
       </description>
            
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement"
            class="es.unizar.disco.simulation.ui.adapters.LaunchableDummyAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="es.unizar.disco.simulation.ui.adapters.UmlModelAdapterFactory">
         <adapter
               type="org.eclipse.papyrus.uml.tools.model.UmlModel">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement"
            class="es.unizar.disco.simulation.ui.adapters.UmlModelAdapterFactory">
         <adapter
               type="org.eclipse.papyrus.uml.tools.model.UmlModel">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="es.unizar.disco.simulation.ui.tester.PapyrusElementExtensionTester"
            id="es.unizar.disco.simulation.ui.tester.extension"
            namespace="org.eclipse.core.resources"
            properties="extension"
            type="org.eclipse.papyrus.infra.onefile.model.IPapyrusElement">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="es.unizar.disco.simulation.ui.handlers.LaunchSimulationHandler"
            commandId="es.unizar.disco.simulation.ui.commands.launchSimulationCommand">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipse.papyrus.infra.core.papyrusEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=org.eclipse.papyrus.ui.menu">
         <menu
               id="es.unizar.disco.simulation.ui.menus.diceSimulationMenu"
               label="DICE Simulation"
               mnemonic="D">
            <command
                  commandId="es.unizar.disco.simulation.ui.commands.launchSimulationCommand"
                  icon="icons/full/obj16/clock.png"
                  id="es.unizar.disco.simulation.ui.menus.launchSimulationCommand"
                  mnemonic="S">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="es.unizar.disco.simulation.ui.toolbars.diceSimulationToolbar"
               label="DICE Simulation">
            <command
                  commandId="es.unizar.disco.simulation.ui.commands.launchSimulationCommand"
                  icon="icons/full/obj16/clock.png"
                  id="es.unizar.disco.simulation.ui.toolbars.launchSimulationCommand"
                  tooltip="Launches a new DICE Simulation">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="es.unizar.disco.simulation.ui.diceSimulationCategory"
            description="Launches a new DICE Simulation"
            id="es.unizar.disco.simulation.ui.commands.launchSimulationCommand"
            name="Launch DICE Simulation">
      </command>
      <category
            id="es.unizar.disco.simulation.ui.diceSimulationCategory"
            name="DICE Simulation">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="es.unizar.disco.core.ui.preferences"
            class="es.unizar.disco.simulation.ui.preferences.SimulationUiPreferencePage"
            id="es.unizar.disco.simulation.ui.preferences.SimulationUiPreferencePage"
            name="Simulation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="es.unizar.disco.simulation.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="es.unizar.disco.simulation.ui.views"
            name="DICE Simulation">
      </category>
      <view
            allowMultiple="true"
            category="es.unizar.disco.simulation.ui.views"
            class="es.unizar.disco.simulation.ui.views.InvocationsView"
            icon="icons/full/eview16/simulation_registry.png"
            id="es.unizar.disco.simulation.ui.views.InvocationsView"
            name="Invocations Registry">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="es.unizar.disco.simulation.ui.editors.RootedReadOnlyEcoreEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor"
            default="false"
            icon="icons/full/obj16/simulation_result.png"
            id="es.unizar.disco.simulation.ui.editors.readonlyEcoreEditor"
            name="Rooted Read Only Ecore Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="es.unizar.disco.simulation.ui.perspective.SimulationPerspective"
            icon="icons/full/obj16/perspective.png"
            id="es.unizar.disco.simulation.ui.perspective"
            name="DICE Simulation">
         <description>
            The DICE SImulation perspectice allows tracking the status of the running simulations more efficiently.
         </description>
      </perspective>
   </extension>

</plugin>
