<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="es.unizar.disco.simulation.simulators">
      <Simulator
            id="es.unizar.disco.simulation.greatspn.ssh.gspnSshSimulator"
            name="GreatSPN SSH Simulator"
            simulator="es.unizar.disco.simulation.greatspn.ssh.simulator.GspnSshSimulator">
      </Simulator>
   </extension>
   <extension
         point="es.unizar.disco.simulation.models.supported_metrics">
      <MetricTag
            id="respT">
      </MetricTag>
      <MetricTag
            id="utilization">
      </MetricTag>
      <MetricTag
            id="throughput">
      </MetricTag>
      <Metric
            calculator="es.unizar.disco.simulation.greatspn.ssh.calculators.ActivityResponseTimeCalculator"
            name="DICE::DICE_UML_Extensions::DPIM::DpimScenario#respT"
            stereotype="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
            tag="respT">
      </Metric>
      <Metric
            calculator="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculator"
            name="DICE::DICE_UML_Extensions::DPIM::DpimScenario#throughput"
            stereotype="DICE::DICE_UML_Extensions::DPIM::DpimScenario"
            tag="throughput">
      </Metric>
      <Metric
            calculator="es.unizar.disco.simulation.greatspn.ssh.calculators.ActivityResponseTimeCalculator"
            name="MARTE::MARTE_AnalysisModel::GQAM::GaScenario#respT"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
            tag="respT">
      </Metric>
      <Metric
            calculator="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculator"
            name="MARTE::MARTE_AnalysisModel::GQAM::GaScenario#throughput"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaScenario"
            tag="throughput">
      </Metric>
      <Metric
            calculator="es.unizar.disco.simulation.greatspn.ssh.calculators.ActionResponseTimeCalculator"
            name="MARTE::MARTE_AnalysisModel::GQAM::GaStep#respT"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaStep"
            tag="respT">
      </Metric>
      <Metric
            calculator="es.unizar.disco.simulation.greatspn.ssh.calculators.ThroughputCalculator"
            name="MARTE::MARTE_AnalysisModel::GQAM::GaStep#throughput"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaStep"
            tag="throughput">
      </Metric>
      <Metric
            calculator="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
            name="MARTE::MARTE_AnalysisModel::PAM::PaLogicalResource#utilization"
            stereotype="MARTE::MARTE_AnalysisModel::PAM::PaLogicalResource"
            tag="utilization">
      </Metric>
      <Metric
            calculator="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
            name="MARTE::MARTE_AnalysisModel::GQAM::GaExecHost#utilization"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaExecHost"
            tag="utilization">
      </Metric>
      <Metric
            calculator="es.unizar.disco.simulation.greatspn.ssh.calculators.UtilizationCalculator"
            name="MARTE::MARTE_AnalysisModel::GQAM::GaCommHost#utilization"
            stereotype="MARTE::MARTE_AnalysisModel::GQAM::GaCommHost"
            tag="utilization">
      </Metric>
   </extension>
</plugin>
