<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2020 DisCo Group - Universidad de Zaragoza.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 1.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-1.0/
   
    SPDX-License-Identifier: EPL-1.0
   
    Contributors:
        Abel Gómez
        Ignacio Requeno
        Diego Pérez
 -->

<plugin>
   <extension-point id="connectionProviders" name="SSH Connection Providers" schema="schema/connectionProviders.exsd"/>
   <extension
         point="es.unizar.disco.ssh.connectionProviders">
      <ConnectionProvider
            hostProvider="es.unizar.disco.ssh.providers.local.LocalConnectionProvider"
            id="es.unizar.disco.ssh.localConnectionProvider"
            name="Local Connection Provider"
            priority="0">
         <UserPasswordAuthProvider
               authProvider="es.unizar.disco.ssh.providers.local.LocalConnectionProvider">
         </UserPasswordAuthProvider>
      </ConnectionProvider>
   </extension>

</plugin>
